.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input-group {
    margin: 10px;
    width: 75%;
}

.input-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card { 
    margin: 10px;
}

.fs-1 {
    text-align: center;
}

.loader {
    display: none;
}